.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #946E83;
  overflow: hidden;
}

.navbar-custom {
  height: 150px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 36px;
  font-weight: 500;
  color: #f2f2f2;
  padding-left: 10px;
  padding-top: 5px;
  margin: 0;
  font-family: cursive;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #946E83;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: lightgrey;
}

#infantgramLogo {
  border-radius: 10px;
  width: 13%;
  height: auto;
  padding-left: 10px;
}